<div class="banner">

    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="First slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="../../assets/image/mech-img1.png" class="w-100 d-block banner-img" alt="First slide" />
                <div class="carousel-caption">
                    <h3 class="banner-title">For all Industrial Business</h3>
                    <p class="banner-description">There are many variations of passagers of Lorem ipsum available but
                        the dummy majority have suffed dumm to alternation in some form by injected dummet now.
                    </p>
                    <div class="button">
                        <button mat-raised-button color="warn" class="mat-large btn-title">Our Services</button>
                        <button mat-stroked-button color="warn" class="mat-large btn-title1">Contact</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/image/mech-img1.png" class="w-100 d-block banner-img" alt="Second slide" />
                <div class="carousel-caption">
                    <h3 class="banner-title">For all Industrial Business</h3>
                    <p class="banner-description">There are many variations of passagers of Lorem ipsum available but
                        the dummy majority have suffed dumm to alternation in some form by injected dummet now.
                    </p>
                    <div class="button">
                        <button mat-raised-button color="warn" class="mat-large btn-title">Our Services</button>
                        <button mat-stroked-button color="warn" class="mat-large btn-title1">Contact</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/image/mech-img1.png" class="w-100 d-block banner-img" alt="Third slide" />
                <div class="carousel-caption">
                    <h3 class="banner-title">For all Industrial Business</h3>
                    <p class="banner-description">There are many variations of passagers of Lorem ipsum available but
                        the dummy majority have suffed dumm to alternation in some form by injected dummet now.
                    </p>
                    <div class="button">
                        <button mat-raised-button color="warn" class="mat-large btn-title">Our Services</button>
                        <button mat-stroked-button color="warn" class="mat-large btn-title1">Contact</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="video-section">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5">
                <div class="container inspiring">
                    <div class="small-ico d-flex">
                        <img src="../../assets/image/small-ico.png" class="small-ico-img" alt="">
                        <div class="ico-inspiring">
                            <h4>Dream Big</h4>
                            <h3> Inspiring Solutions</h3>
                        </div>
                    </div>
                    <p class="inspiring-para">There are many variations of passagers of Lorem ipsum available but
                        the dummy majority have suffed dumm to alternation in some form by injected humour or randomised
                        that words which don't look even slitingly belivable.</p>
                </div>
                <div class="overlay">
                    <button type="button" class="btn btn-primary play-button" aria-label="Play video">
                        <i class="fas fa-play"></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-7 p-0">
                <img src="../../assets/image/video-img.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
